.App {
  text-align: center;
  background-image: url("./images/2.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
 
.main {
  display: flex;
}
/* ADMIN PANEL */
.admin-panel {
  display: flex;
  justify-content: center;
}

.user-list {
  flex-grow: 1;
  display: block;
  text-align: left;
  padding: 5px;
}

.request-panel {
  flex-grow: 1;
  display: block;
  text-align: left;
  padding: 5px;
}

.previews {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  justify-content: center;
  flex-grow: 4;
  margin: 0;
}

.playlists {
  display: block;
  flex-grow: 1;
  margin: 0;
}

.video-description {
  text-align: left;
}

.video-container {
  background-image: url("./images/5.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 4;
  width: 100%;
}

.card {
  padding: 5px;
  margin: 2px;
  width: 10rem;
  height: 17rem;
}

.card-img-top {
  width: fit-content;
}

.player-container {
  display: flex;
  justify-content: space-around;
}

.password-icon {
  position: relative;
  top: 20;
  left: 10;
}
